* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  margin: 0;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;
  color: #374754;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}
