.btn{
    width: 14.75rem;
    height: 3.5rem;
    background: $light-color;
    border-radius: 35px;
    font: 1.2rem 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    color: $secondary-color;
    outline: none;
  }
  .btn:hover{
    cursor: pointer;
    background-color: blue;
    color: $light-color;
    transition: background-color 200ms linear, color 200ms linear;
  }